table{
	color:black;
	border: 0;
}

table th{
	border-bottom: 1px solid #aaa;
	background: #fafafa;
}

table tr td{
	border-bottom: 1px solid #caccd1;
}

.modal {
	display: none;
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	color: black;
	background-color: #fefefe;
	margin: 10% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 40%;
}

.form-control{
	color:black;
}

.close {
	color: black;
	display: block;
	font-size: 28px;
	font-weight: bold;
	text-align: right;
}

.close:hover, .close:focus {
	color: red;;
	text-decoration: none;
	cursor: pointer;
}